/* Profile Container Styles */
.profile-container {
    position: relative;
    flex: 1; /* Take up remaining space */
    max-width: 25%; /* Adjust profile container width */
    margin-right: 20px; /* Add some spacing between profile and sample works */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Ensure padding is included in the width */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Add border radius for a rounded appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    overflow: hidden; /* Hide any content exceeding the container */
}

.profile-image {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    max-height: 300px; /* Limit the height of the profile image */
    margin-bottom: 20px; /* Add spacing between image and details */
    overflow: hidden; /* Hide any content exceeding the max dimensions */
}

.profile-details {
    text-align: left; /* Align details to the left */
}

.profile-details p {
    margin: 8px 0; /* Add vertical margin for spacing */
}

/* Sample Works Container Styles */
.photo-gallery {
    flex: 3; /* Take up remaining space */
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap to next row */
    justify-content: space-between; /* Distribute items evenly */
    gap: 20px; /* Adjust spacing between items */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.portfolio-container {
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Add padding */
    border-radius: 8px; /* Add border radius for a rounded appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    overflow: hidden; /* Hide any content exceeding the container */
}

.portfolio-item {
    flex-basis: calc(33.33% - 20px); /* Adjust width of items */
    border-radius: 8px; /* Add border radius for a rounded appearance */
    overflow: hidden; /* Hide any content exceeding the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.portfolio-image-container img {
    width: 100%; /* Ensure images take full width */
    height: auto; /* Maintain aspect ratio */
}

.portfolio-details {
    padding: 20px; /* Add padding */
    background-color: #f9f9f9; /* Light background color */
}

.portfolio-details h3 {
    margin-top: 0; /* Remove default margin for heading */
}

.portfolio-details p {
    margin-bottom: 0; /* Remove default margin for paragraph */
}

/* Other Styles */
.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 30px 90px 5px 90px;
}

main h2 {
    display: block; /* Change display property to block */
    padding: 10px 0; /* Add padding */
    font-size: 24px; /* Adjust font size */
    font-family: "Montserrat-Bold", sans-serif;
    text-align: center;
    margin: auto;
    color: #333; /* Change text color */
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.port-image {
    position: relative;
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center;
    margin-bottom: 20px; /* Adjust margin to create space below the image */
    margin-top: 20px; /* Adjust margin to create space above the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.port-image p {
    color: #fff;
    text-align: center;
}


.background-image {
    position: relative;
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.background-image h1 {
    display: inline-block;
    font-size: 5vmax;
    font-family: "Montserrat-Bold", sans-serif;
    text-align: center;
    margin: auto;
    color: #fff;
    width: 100%;
    box-sizing: border-box; 
}

.background-image p {
    font-family: "Montserrat-Regular", sans-serif;
    color: white;
}
