.three-columns {
    display: flex;
    padding: 5px 90px 5px 90px ;
}

.column {
    flex: 1;
    width: 33%;
    margin: 0 10px; /* Add margin between columns */
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    background-color: #DDDCDC;
}

.column img {
    max-width: 100%;
    height: auto;
}
.three-columns{
    text-align: left;
}

.column h2 {
    text-align: center;
    font-family: "Montserrat-Bold", sans-serif;
}

.column p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-family: "Montserrat-Regular", sans-serif;
}

.program-info {
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 5px 150px 5px 150px ;
}

.program-info h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: xx-large;
}

.program-info p {
    font-family: "Montserrat-Regular", sans-serif;
    text-align: justify;
}
.logo {
    flex: 0 0 auto; /* The logo column won't grow or shrink */
    margin-right: 20px; /* Adjust margin as needed */
}

.text {
    flex: 1; /* The text column will grow to fill remaining space */
}

.logo img {
    max-width: 250px; /* Adjust the maximum width as needed */
}
main {
    padding-bottom: 60px; /* Adjust the value based on your footer's height */
}