@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: lighter;
}


header {
    text-align: center;
    background-color: #eee;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-container img {
    max-width: 200px;
    height: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    color: #3255ff;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto; /* Aligns the search container to the right */
}

.mglass {
    display: inline-block;
    pointer-events: none;
    transform: rotate(-45deg);
}

.searchbutton {
    font-size: 22px;
    padding: 8px 10px;
    background-color: #4c4eaf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search {
    position: absolute;
    left: 0;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid black;
    z-index: 10;
    transition-duration: 0.4s;
}

.search:focus {
    width: 213px;
    padding: 0 16px 0 0;
}



.searchbutton:hover {
    background-color: #c14242;
}

.search:focus + .searchbutton {
    background-color: white;
    color: black;
}


.search {
    position: absolute;
    left: 60px;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid black; /* Add border-bottom style */
    z-index: 10;
    transition-duration: 0.4s;
}

.search:focus {
    width: 363px;
    padding: 0 16px 0 0;
}


.expandright {
    left: auto;
    right: 49px;
}

.expandright:focus {
    padding: 0 0 0 16px;
}


#admin-logo {
    width: 35px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}


nav {
    font-family: 'Montserrat-Bold' ;
    background-color: #eee;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #3255ff;
}

main {
    padding: 20px;
}

.school-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden; /* Ensure the overlay stays within the boundaries of .school-bg */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for the left-aligned form */
.left-column {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
}

.left-column form {
    display: flex;
    flex-direction: column;
}

.left-column label {
    margin-bottom: 10px;
}

.left-column input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.left-column .submit-button {
    font-family: 'Montserrat-Bold';
    padding: 8px 15px;
    background-color: #4c4eaf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-column .submit-button:hover {
    background-color: #c14242;
}
