@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: lighter;
}


header {
    text-align: center;
    display: flex;
    justify-content: space-between; /* Align items on the same line with space in between */
    align-items: center; /* Center items vertically */
    margin: auto;
    background-color: #fff;
}

header img {
    max-width: 300px;
    height: auto;
    margin-left: 50px;

}

.header-container {
    text-align: center;
    background-color: #333;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;

}

#admin-logo {
    display: relative;
    width: 35px; /* Adjust the maximum width as needed */
    height: auto;
    padding-left: 10px;
    padding-right: 50px;
}

.search-bar {
    display: flex; /* Display input and button in the same line */
    margin-top: 10px; /* Adjust the margin as needed */
}

.search-bar input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    font-family: 'Montserrat-Bold';
    padding: 8px 15px;
    background-color: #4c4eaf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #c14242;
}

nav {
    font-family: 'Montserrat-Bold' ;
    background-color: #eee;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #3255ff;
}

main {
    padding: 20px;
}
.school-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Set a negative z-index to place it behind other content */
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for the left-aligned form */
.left-column {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
}

.left-column form {
    display: flex;
    flex-direction: column;
}

.left-column label {
    margin-bottom: 10px;
}

.left-column input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.left-column .submit-button {
    font-family: 'Montserrat-Bold';
    padding: 8px 15px;
    background-color: #4c4eaf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-column .submit-button:hover {
    background-color: #c14242;
}
